In [1]:
import sys
sys.path.append('..')
from src.utilities import *

In [2]:
activity = pd.read_csv(os.path.join(raw_path, 'activity.csv'))
activity.head()

,hcp,specialty,region,brand,month,channel,count
0,39972,Internal medicine / pneumology,region_61,brand_1,2020-05,video,1
1,64026,General practicioner,region_168,brand_2,2020-05,phone,1
2,27892,Internal medicine,region_26,brand_2,2020-06,phone,1
3,33500,General practicioner,region_26,brand_2,2020-06,phone,1
4,61239,General practicioner,region_26,brand_2,2020-06,phone,1

In [3]:
hcps = pd.read_csv(os.path.join(raw_path, 'hcps.csv'))
hcps.head()

   hcp  tier      region                       specialty
0   83     2   region_59               Internal medicine
1  112     1  region_103               Internal medicine
2  307     2   region_33  Internal medicine / pneumology
3  387     2   region_97  Internal medicine / pneumology
4  426     1  region_118            General practicioner

In [4]:
regions = pd.read_csv(os.path.join(raw_path, 'regions.csv'))
regions.head()

     region  population         area         pci16         pci18
0  region_0      381958  1372.440545  38799.972381  40214.895762
1  region_1      431383  4701.726213  45377.708041  47137.854237
2  region_2      318026  2574.943849  42578.018793  44456.389595
3  region_3      343861  3639.373478  46856.492170  48564.228841
4  region_4      330916  3926.381089  44462.421679  46388.545070

In [10]:
regions.region.nunique()

201

In [5]:
regions_hcps = pd.read_csv(os.path.join(raw_path, 'regions_hcps.csv'))
regions_hcps.head()

,region,area,pci16,pci18,Internal medicine,Internal medicine / pneumology,General practicioner,Internal medicine and general practicioner,Pediatrician
0,region_0,1372.440545,38799.972381,40214.895762,315,18,264,2,82
1,region_1,4701.726213,45377.708041,47137.854237,239,7,273,1,42
2,region_2,2574.943849,42578.018793,44456.389595,153,5,182,2,47
3,region_3,3639.373478,46856.492170,48564.228841,181,11,206,0,30
4,region_4,3926.381089,44462.421679,46388.545070,151,9,199,0,33

In [6]:
rtes = pd.read_csv(os.path.join(raw_path, 'rtes.csv'))
rtes.head()

,hcp,specialty,region,brand,email_type,content_id,no. openings,no. clicks,time_sent,time_last_opened,time_last_clicked
0,58555,General practicioner,region_0,brand_1,general,a3D6f0000019jMvEAI,1,0,2021-03-02 08:42:00,2021-03-02 08:45:00,NaN
1,819,General practicioner,region_1,brand_2,product_related,a3D6f0000019gA2EAI,0,0,2020-07-16 11:58:00,NaN,NaN
2,819,General practicioner,region_1,brand_2,general,a3D6f0000019jSnEAI,1,0,2020-08-17 14:47:00,2020-08-17 23:16:00,NaN
3,819,General practicioner,region_1,brand_1,product_related,a3D6f000000MtZ3EAK,0,0,2020-09-03 16:08:00,NaN,NaN
4,819,General practicioner,region_1,brand_1,general,a3D6f000000N0nhEAC,1,0,2020-10-16 13:35:00,2020-10-16 22:39:00,NaN

In [7]:
sales_train = pd.read_csv(os.path.join(raw_path, 'sales_train.csv'))
sales_train.head()

     month    region            brand      sales
0  2020-01  region_0          brand_1       0.00
1  2020-01  region_0          brand_2       0.00
2  2020-01  region_0          brand_3   65007.49
3  2020-01  region_0  brand_12_market  509023.69
4  2020-01  region_0   brand_3_market  940469.05

In [9]:
submission_sample = pd.read_csv(os.path.join(raw_path, 'submission_sample.csv'))
submission_sample.head()

     month      region    brand  sales  lower  upper
0  2020-07  region_151  brand_1   50.0    0.0  100.0
1  2020-07  region_151  brand_2   50.0    0.0  100.0
2  2020-07  region_152  brand_1   50.0    0.0  100.0
3  2020-07  region_152  brand_2   50.0    0.0  100.0
4  2020-07  region_153  brand_1   50.0    0.0  100.0

In [16]:
submission_sample.brand.nunique()

2

In [23]:
sales_train[(sales_train.month == '2021-08') & (sales_train.region == 'region_151')]

         month      region            brand      sales
17950  2021-08  region_151          brand_3   27627.80
17951  2021-08  region_151  brand_12_market  210280.75
17952  2021-08  region_151   brand_3_market  383995.75

In [22]:
submission_sample

        month      region    brand  sales  lower  upper
0     2020-07  region_151  brand_1   50.0    0.0  100.0
1     2020-07  region_151  brand_2   50.0    0.0  100.0
2     2020-07  region_152  brand_1   50.0    0.0  100.0
3     2020-07  region_152  brand_2   50.0    0.0  100.0
4     2020-07  region_153  brand_1   50.0    0.0  100.0
...       ...         ...      ...    ...    ...    ...
1395  2021-08  region_198  brand_2   50.0    0.0  100.0
1396  2021-08  region_199  brand_1   50.0    0.0  100.0
1397  2021-08  region_199  brand_2   50.0    0.0  100.0
1398  2021-08  region_200  brand_1   50.0    0.0  100.0
1399  2021-08  region_200  brand_2   50.0    0.0  100.0

[1400 rows x 6 columns]

In [13]:
sales_train.groupby('month').size()

month
2020-01    905
2020-02    905
2020-03    905
2020-04    905
2020-05    905
2020-06    905
2020-07    905
2020-08    905
2020-09    905
2020-10    905
2020-11    905
2020-12    905
2021-01    905
2021-02    905
2021-03    905
2021-04    905
2021-05    905
2021-06    905
2021-07    905
2021-08    905
dtype: int64

MASTER TABLE:
    
    - month
    - region
    - brand
    - sales (sales of the brand in the region in the given month)
    - feature_1 (sum sales of the region in the past 3 months)
    - feature_2 (average sales of the brand in the past 2 months)
    - feature_3 (maximum sales per month of the brand-region in the last 6 months)
    
    
    
    - ...